<p id="countryid"></p>

<script>
  fetch('https://api.covid19api.com/summary')
    .then(apidata => {
      console.log(apidata);
      return apidata.json();
    })
    .then(actualData => {
      //   console.log(actualData);
      const mydata = actualData.Countries[101].Country;
      document.getElementById(
        'countryid'
      ).innerHTML = `The name of the country is ${mydata}`;
    })
    .catch(error => {
      console.log(`errors:${error}`);
    });
</script>
