<script>
    //super class

    const Mobile=function(){
        this.a=10;

    }
    Mobile.prototype.z=30;
    const Samsung=function (){
        Mobile.call(this); //achieved inheritance
        this.b=20;

    }
    Samsung.prototype=Object.create(Mobile.prototype);
    Samsung.prototype.constructor=Samsung;
    const s=new Samsung();
document.write(s.a +'<br>');
document.write(s.b  +'<br>');
document.write(s.z  +'<br>');
</script>